<div class="row">
  <div class="large-6 columns">
    <h3>Fort Collins</h3>
    303 E. 17th Avenue, Suite 888<br>
    Denver, Colorado 80203<br>
    Phone: (303) 837-9222<br>
    Fax: (303) 837-0849
  </div>
  <div class="large-6 columns">
    <h3>Denver</h3>
    303 E. 17th Avenue, Suite 888<br>
    Denver, Colorado 80203<br>
    Phone: (303) 837-9222<br>
    Fax: (303) 837-0849
  </div>
</div>